body{
    background-image: url("owo2.jpg");
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-family: "DejaVu Sans";

}
input{
    background-color: skyblue;
    border: 4px solid blueviolet ;
}
.button{
    background-color: dodgerblue;
    border: 10px solid dodgerblue ;
    padding: 10px;
    color: black;
}
.button:hover{
    background-color: darkgreen;
    padding: 12px;
}
.img{
    width: auto;
    height: auto;
}
.err{
    width: 675px;
    height: 280px;
    background-image: url("sus.jpg");
    margin: auto;
}
.mylink{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    flex-grow: 1;
}
